@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    background: linear-gradient(0.25turn, #D9D9D9 50%,#060606 50%) no-repeat;
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cir1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #c9beb9;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 28em;
    width: 28em;
    filter: drop-shadow(0.5em -2em 0em #00000034);
}
.cir2{
    z-index: 2;
    position: fixed;
    background-color: #af9c95;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 25em;
    width: 25em;
}

.cir4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    background-color: #bbaea7;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 20em;
    width: 20em;
    filter: drop-shadow(0em -1em 0em #836c62b2);
}
.cir5{
    z-index: 3;
    position: fixed;
    background-color: #a89189;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 18em;
    width: 18em;

}

.tria1{
    rotate: 8deg;
    position: fixed;
    padding: 3em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid transparent;
    border-bottom: 28em solid #D9D9D9;
    animation: shine 1.2s ease-out;
}
.tria2{
    rotate: 5deg;
    position: fixed;
    padding: 1.5em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #D9D9D9;
    animation: shine 1.2s ease-out;
}

.tria3{
    rotate: 34deg;
    position: fixed;
    padding: 1em;
    margin: 0em;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 26em solid #D9D9D9;
    animation: shine 1.3s ease-out;
}
.tria4{
    rotate: 33deg;
    position: fixed;
    padding: 1em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #D9D9D9;
    animation: shine 1.3s ease-out;

}


.tria5{
    rotate: 200deg;
    position: fixed;
    padding: 4em;
    margin: 0em;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 26em solid #9c897d;
    animation: shine 1.5s ease-out;
}
.tria6{
    rotate: 200deg;
    position: fixed;
    padding: 3em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #9c897d;
    animation: shine 1.5s ease-out;
}

@keyframes shine{
    0%{
        transform: rotate(280deg);
    }
    10%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);}
}