@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    background: linear-gradient(0.25turn, #D9D9D9 50%,#060606 50%) no-repeat;
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cir1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #dfdad9;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 28em;
    width: 28em;
    filter: drop-shadow(0.5em -2em 0em #00000034);
    border: solid 0.2em #aa968a;
}
.cir2{
    z-index: 2;
    position: fixed;
    background-color: #c7bdb9;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 25em;
    width: 25em;
}
.cir3{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    background-color: #8a4f3d;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 15.7em;
    width: 15.7em;
}

.cir4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    background-color: #dfdad9;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 20em;
    width: 20em;
    filter: drop-shadow(0em -1em 0em #b89e94b2);
    border: solid 0.2em #aa968a;

}
.cir5{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    background-color: #bdada8;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 17em;
    width: 17em;
    border: solid 0.2em #ac968a;

}
.cir6{
    opacity: 0%;
    z-index: 5;
    position: fixed;
    background-color: #774130;
    border-radius: 15em;
    margin: 0;
    padding: 0;
    height: 10em;
    width: 10em;
    animation: drop 3s 2.5s;
}

@keyframes drop {
    0%{
        opacity: 100%;
        transform: scale(300%);
    }
    17%{
        opacity: 100%;
        transform: scale(30%);
        background-color: transparent;
    }
    60%{
        transform: scale(110%);
        background-color: transparent;
        border: solid 1em #c96f54;
        opacity: 100%;
    }
    65%{
        transform: scale(130%);
        background-color: transparent;
        border: solid 1em #c96f54;
        opacity: 100%;
    }
    100%{
        transform: scale(130%);
    }
}

.tria1{
    rotate: 8deg;
    position: fixed;
    padding: 3em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid transparent;
    border-bottom: 28em solid #ffffff;
    animation: shine 1.5s ease-out;
}
.tria2{
    rotate: 5deg;
    position: fixed;
    padding: 1.5em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #ffffff;
    animation: shine 1.5s ease-out;
}

.tria3{
    rotate: 34deg;
    position: fixed;
    padding: 1em;
    margin: 0em;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 26em solid #ffffff;
    animation: shine 1.5s ease-out;
}
.tria4{
    rotate: 33deg;
    position: fixed;
    padding: 1em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #ffffff;
    animation: shine 1.5s ease-out;

}


.tria5{
    rotate: 200deg;
    position: fixed;
    padding: 4em;
    margin: 0em;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 26em solid #cfc3bc;
    animation: shine 1.5s ease-out;
}
.tria6{
    rotate: 200deg;
    position: fixed;
    padding: 3em;
    margin: 0em;
    z-index: 1;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 20em solid #cfc3bc;
    animation: shine 1.5s ease-out;
}


@keyframes shine{
    0%{
        transform: rotate(280deg);
    }
    8%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);}
}